
body {
  margin: 0;
  background-color: #eee;
  color: #333;
  font-family: 'Arial';
}
* {
  text-align:left;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Exo', sans-serif;
}

h1 {
  font-size:36px;
  padding-bottom:10px;
  border-bottom:1px solid #ccc;
  margin-bottom:5px;
}

h2 {
  margin-top:10px;
  margin-bottom:10px;
  font-size:30px;
}
a {
  text-decoration: none;
}

header {
  border-bottom: 1px solid #333;
}

/* Usefull To All */
.right {
  float: right;
}

.clear {
  clear: both;
}

.ryc {
  color: #3371A3;
}

.date {
  text-shadow: 0 0 2px red;
  margin: 0;
}

.beggarsfair {
  text-shadow: 0 0 1px yellow;
}

/* Specific */
.container {
  max-width: 650px;
  padding: 10px;
  background-color: #fff;
  margin: auto;
  margin-top: 50px;

  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  
  font-size:14px;
}

.timeslot {
  width:100%;
  clear:both;
  padding:2px;
}

.timeslot .time {
  width:100px;
  float:left;
  font-size:20px;
  float:left;

}
.timeslot .name {
  margin-left:100px;
  font-size:20px;
}

.timeslot .name .ToggleDescription {
  font-size:14px;
  color:#3371A3;
}
.timeslot .description {
  margin-left:100px;
  font-size:16px;
  display: none;
  opacity: 0.9;
  -moz-opacity: 0.9;
  filter:alpha(opacity=9);
}
.links {
  margin-left:100px;
  display: none;
}
.links a {
  opacity: 0.9;
  -moz-opacity: 0.9;
  filter:alpha(opacity=9);
  color:blue;
}

/* Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    max-width: 480px;
  }

  .container {
    margin: 0 0;
    margin: auto;
  }

}

/* Silly Bits */
::selection {
  background: red;
}

::-moz-selection {
  background: red;
}
